[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/test-utils"]
	path = lib/test-utils
	url = https://github.com/OlympusDAO/test-utils
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
	branch = main
